<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBasicsInfoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55969/Wcf/BasicsInfoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBasicsInfoService"
                contract="BasicsInfoService.IBasicsInfoService" name="BasicHttpBinding_IBasicsInfoService" />
        </client>
    </system.serviceModel>
</configuration>